%flex-column, %flex-row {
  display:flex;
}

%flex-column {
  flex-direction:column;
}

%flex-row {
  flex-direction:row;
}

@mixin size($width:'', $height:$width) {
  height:$height;
  width:$width;
}

@mixin flex($direction:row, $alignItems:center, $justifyContent:center) {
  align-items:$alignItems;
  display:flex;
  flex-direction:$direction;
  justify-content:$justifyContent;
}