@import '../../styles/color.scss';
@import '../../styles/effect.scss';

.title, .sub-title, .text, .small {
  color:white;
}

.title, .sub-title, .error {
  text-align:center;
}

.title {
  font: {
    size:35px;
    weight:1000;
  }
  text-transform:capitalize;
}

.sub-title {
  font-size:20px;
}

.text, .error {
  font-size:18px;
}

.error {
  color:$red-for-error;
}

.small {
  font-size:16px;
}

.highlight {
  @extend %darker-on-hover-or-click;
  color:$main-green;
  font-weight:600;
}