@import '../../styles/components.scss';
@import '../../styles/effect.scss';

.user-header {
  @include flex(row, center, space-between);
  left:0px;
  padding:15px 30px;
  position:fixed;
  top:0px;
  width:100%;
  z-index:100;

  & .icone {
    @extend %main-green-on-hover-or-click;
    color:white;
    font-size:25px;
  }
}